<h1 class='text-center my-2'>Detalles del producto</h1>

{{#if product._id}}

    {{!-- <div class='card mx-4'>
        <div class='d-flex card-header justify-content-between px-4'>
            <span class='h4'>{{product.title}}</span>
            <span>ID: {{product._id}}</span>
        </div>
        <div class='card-body'>
            <div class='d-flex justify-content-start px-4'>
                <img
                    class='bg-secondary-subtle rounded rounded-3 me-4'
                    style='height: 220px'
                    src={{product.photo}}
                    alt={{product._id}}
                />
                <div class=''>
                    <h5 class='card-title'>Categoría: {{product.category}}</h5>
                    <p class='card-text'>{{product.title}}.</p>
                    <p class='card-text'>Stock: <span class='text-info'> {{product.stock}} </span></p>
                    <p class='card-text'>Price: <span class='text-danger'>${{product.price}}</span></p>
                    <div class="btn-group" role="group">
                        <button id="btn_minus" type="button" class="btn btn-secondary">-</button>
                        <button id="counter" type="button" disabled class="btn" value="0">0</button>
                        <button id="btn_plus" type="button" class="btn btn-secondary">+</button>
                    </div>
                </div>
            </div>

        </div>
        <div class='card-footer text-center'>
            <button id="btn_addToCart" class='btn btn-primary'>Add to cart</button>
            <a href='/' class='btn btn-primary'>Go back</a>
        </div>

        {{!-- Campos ocultos para carga de carrito --}}
        <input type="hidden" id="hidden_countValue" value="0">
        <input type="hidden" id="hidden_user_id" value={{user.user_id}}>
        <input type="hidden" id="hidden_product_id" value="{{product._id}}">
        <input type="hidden" id="hidden_product_price" value={{product.price}}>
    </div> --}}

    <div class="product-card">
    <div class="product-image" style="background-image: url({{product.photo}})"></div>
    <div class="product-details">
        <div>
            <div class="product-title">{{product.title}}</div>
            <div class="product-subtitle">Product description must be placed here</div>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <div class="address">
                        <strong>BILLING ADDRESS</strong><br>
                        Nick Burburwitz<br>
                        1401 South Grand Avenue<br>
                        Los Angeles, CA 90015<br>
                        (213) 748-2411
                    </div>
                </div>
                <div>
                    <div class="address">
                        <strong>SHIPPING ADDRESS</strong><br>
                        Nick Burburwitz<br>
                        1401 South Grand Avenue<br>
                        Los Angeles, CA 90015<br>
                        (213) 748-2411
                    </div>
                </div>
            </div>
            <div class="product-price">US$ {{product.price}}</div>
        </div>
        <div class="payment-options">
            {{#if user.online}}
            <div class="d-flex align-items-center justify-content-center mt-2">
                <div class="btn-group" role="group">
                    <button id="btn_minus" type="button" class="btn btn-secondary">-</button>
                    <button id="counter" type="button" disabled class="btn" value="0">0</button>
                    <button id="btn_plus" type="button" class="btn btn-secondary">+</button>
                </div>                
            </div>
            {{/if}}
            <div class="d-flex justify-content-center mt-2 gap-4">
                {{#if user.online}}
                <button id="btn_addToCart" class='customButton'>Add to cart</button>
                {{/if}}
                <a href='/' class='customButton'>Go back</a>
            </div>
        </div>
    </div>
</div>


{{else}}
    <h3 class='text-center mt-4 text-secondary'>No existe el producto</h3>
{{/if}}

{{!-- <script src="/scripts/counter.js"></script> --}}
<script src="/scripts/addToCart.js"></script>
