<h1 class='text-center my-2'>Detalles del producto</h1>

{{#if product._id}}

    <div class='card mx-4'>
        <div class='d-flex card-header justify-content-between px-4'>
            <span class='h4'>{{product.title}}</span>
            <span>ID: {{product.id}}</span>
        </div>
        <div class='card-body'>
            <div class='d-flex justify-content-start px-4'>
                <img
                    class='bg-secondary-subtle rounded rounded-3 me-4'
                    style='height: 220px'
                    src={{product.photo}}
                    alt={{product._id}}
                />
                <div class=''>
                    <h5 class='card-title'>Categoría: {{product.category}}</h5>
                    <p class='card-text'>{{product.title}}.</p>
                    <p class='card-text'>Stock:
                        <span class='text-info'> {{product.stock}} </span></p>
                    <p class='card-text'>Price:
                        <span class='text-danger'>${{product.price}}</span></p>

                </div>
            </div>

        </div>
        <div class='card-footer text-center'>
            <a href='#' class='btn btn-primary'>Agregar al carrito</a>
            <a href='/products' class='btn btn-primary'>Regresar</a>
        </div>
    </div>

{{else}}
    <h3 class='text-center mt-4 text-secondary'>No existe el producto</h3>
{{/if}}