<h1 class='text-center my-2'>Datos del usuario</h1>

{{#if user}}

    <div class='card mx-4'>
        <div class='d-flex card-header justify-content-between px-4'>
            <span class='h4'>Usuario: {{user.email}}</span>
            <span>ID: {{user.user_id}}</span>
        </div>
        <div class='card-body'>
            <div class='d-flex justify-content-start px-4'>
                <img
                    class='bg-secondary-subtle rounded rounded-3 me-4'
                    style='height: 220px'
                    src={{user.photo}}
                    alt={{user.user_id}}
                />
                <div class=''>
                    <h5 class='card-title'>Rol: {{user.role}}</h5>
                </div>
            </div>

        </div>
        <div class='card-footer text-center'>
            <a href='#' class='btn btn-primary'>Editar datos</a>
            <a href='/' class='btn btn-primary'>Regresar</a>
        </div>
    </div>

{{else}}
    <h3 class="text-center pt-4 text-primary">No existe el usuario</h>
{{/if}}